<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Gerenciamento de Alunos</title>
    	<link href="https://getbootstrap.com.br/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    	<link href="https://getbootstrap.com.br/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
	</head>
	
	<body class="d-flex flex-column h-100">
		<div class="container" style="margin-top: 30px">
			<h4 class="panel-title">Adicionar Novo Aluno</h4>
			
			<form method="POST" action="#" th:action="@{/saveAluno}" th:object="${aluno}" style="margin: 20px 0" accept-charset="UTF-8">
				<div class="form-group">
					<label for="nome">Nome: </label> 
					<input type="text" th:field="*{nome}" class="form-control">
				</div>
				
				<div class="form-group">
					<label for="datanasc">Data de Nascimento: </label>
					<input type="date" th:field="*{datanasc}" class="form-control">
				</div>
				
				<div class="form-group">
					<label for="datanasc">Turma: </label>
					<select name="turma" id="turma" class="form-control" th:field="*{turma}">
					   	<option th:each="turma : ${turmas}" th:value="${turma.id}" th:text="${turma.nome}"></option>
					</select>
				</div>
				
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>
		
		<footer class="footer mt-auto py-3">
      		<div class="container">
        		<span class="text-muted">Autor - Mateus Fonseca Santos</span>
      		</div>
    	</footer>
	</body>
</html>